node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
*.class
# Package Files #
*.jar
*.war
*.ear
/.project
/.settings
*.log
*.apk
!src/main/resources/carinademoexample.apk
*.zip
!src/main/resources/carinademoexample.zip
.settings/*
reports/*
/reports
/.metadata/
/.project
.idea
*.iml
/target/
*new_custom_messages_*.properties
/bin/
/.DS_Store
